@{
    ViewData["Title"] = "EventEase";
}

<div class="text-center">
    <h1 style="font-family: 'Times New Roman', Times, serif; color: black; font-size: 66px;">
        Welcome to EventEase
    </h1>
    <p class="lead">Helping you manage with ease.</p>

    <div class="mt-4">
        <a class="btn m-2" style="background-color: black; color: white; padding: 10px 20px; border: none;" asp-controller="Venue" asp-action="Index">Venues</a>
        <a class="btn m-2" style="background-color: black; color: white; padding: 10px 20px; border: none;" asp-controller="Event" asp-action="Index">Events</a>
        <a class="btn m-2" style="background-color: black; color: white; padding: 10px 20px; border: none;" asp-controller="Booking" asp-action="Index">Bookings</a>
    </div>
</div>
